$yellow: #E2D699;
$brown: #857568; //Noicee
$green: #97c192;
$pink: #E89C8F;
$back-ground: #C1C1C9;
$top: #8a7d84;
$shadow: #3e353577;

$overlay: rgba(255, 255, 255, 0.6);
$overlay-light:  rgba(255, 255, 255, 0.4);

html, body
{   
  color: $yellow !important;
  background-color: $brown !important;
  opacity: 1;
}

input, textarea, select
{
    background-color: $yellow !important;
    border-radius: 20px !important;
    border-style: solid !important;
    border-color: $brown;
    border-width: medium !important;
    color: $brown !important;
    padding: 5px;
}

a
{
    color: $pink !important;
    transition: width .2s, height, .2s;
}

a:hover
{
    color:$yellow !important;
}

.page-link
{
    color: $green !important;
    border-width: medium;
    border-radius: 30px;
    border-style: solid;
    border-color: $green;
    padding: 7px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.page-link:hover
{
    background-color: $green !important;
    color: $brown !important;
    box-shadow: 3px 3px 3px $shadow;
}

.site-title
{
    font-family: 'Courier New' !important;
    font-size: 20px;
    text-align: center;
    color: $yellow !important;
    border-width: medium;
    border-color: $yellow;
    border-radius: 30px;
    border-style: solid;
    margin-top: 3.5px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    transition: width .2s, height, .2s;
}

.site-title:hover
{
    background-color: $yellow;
    color: $brown !important;
    box-shadow: 3px 3px 3px $shadow;
}

.site-nav
{
    color: $pink !important;
    background-color: $brown;
    border-color: $green;
}

*
{
    scrollbar-color: $yellow !important;
}

pre, code
{
    // BVas a lighter colour to better highlight short code words
    border-color: $pink;
    background-color: $back-ground;
    color: $top;
}

.page-description
{
    color: $pink !important;
}

.post-meta
{
    color: $green;
}

.post-item
{
    border-radius: 30px !important;
    padding: 15px !important;
    background-color: $brown;
    //border: $brown medium solid !important;
}

.post-link
{
    font-family:'Courier';
    text-align: center !important;
    color: $pink !important;
    border-radius: 30px;
    border: $pink medium solid !important;
}

.post-link:hover
{
    background-color: $yellow !important;
    color: $brown !important;
    border-color: $yellow !important;
    box-shadow: 3px 3px 3px $shadow;
}

.post-content p, .post-content li
{
    color: $brown;
}

.btn, button
{
    padding: 5px !important;
    background-color: $back-ground !important;
    color: $top !important;
    border-width: medium !important;
    border-style: solid !important;
    border-radius: 30px !important;
    border-color: $top !important;
    transition: width .2s, height, .2s;
}

.btn:hover, button:hover
{
    background-color: $top !important;
    color: $back-ground !important;
    border-color: $back-ground !important;

}

table th
{
    background-color: $top;
    border-color: $yellow;
    color: $back-ground;
}

table td
{
    background-color: $back-ground;
    border-color: $yellow;
    color: $top;
}

.flash
{
    color: $pink !important;
    filter: brightness(80%);
}

canvas
{
    filter: invert(100%);
}

.post-list > li > div
{
    box-shadow: none !important;
    background-color: $overlay;
    border: none !important;
}

li .post-meta-description
{
    color: $yellow !important;
}